<h1>Create A New Artist!!</h1>

<form method="post" action="/artists">

    <label for="artist-name">Name</label>
    <input type="text" name="artist[name]" id="artist-name">
    <label for="artist-age">Age</label>
    <input type="number" name="artist[age]" id="artist-age">
    <label for="artist-bio">Bio</label>
    <input type="text" name="artist[bio]" id="artist-bio">
    <input type="submit" value="Submit!">

</form